{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/front.css') }}">
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <main>
        
        <h1 class="title">
            Gérez vos tâches<h1 class="gradient title">simplement.</h1>
        </h1>
        <p>
            Une interface pour créer, une to do list simplement <br>
            pour organiser vos journées efficacement.
        </p>
        <div class="actions">
            <a href="{{ path('app_register') }}" class="btn-primary">S'inscrire</a>
            <a href="{{ path('app_login') }}" class="btn-secondary">Se connecter</a>
        </div>
    </main>
{% endblock %}