body {
    height: 100vh;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #1e293b;
    margin-bottom: 1rem;
    line-height: 1.1;
}
.gradient {
    background: linear-gradient(90deg, #4f46e5, #06b6d4);
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
}

p {
    font-size: 1.1rem;
    color: #64748b; /* Gris bleuté */
    margin-bottom: 2.5rem;
    line-height: 1.6;
    max-width: 600px; /* Pour pas que le texte s'étale trop */
}

.actions {
    display: flex;
    gap: 15px; /* Espace entre les boutons */
}

.btn-primary {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.1s ease, box-shadow 0.2s;
    display: inline-block;
}

.btn-secondary {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1rem;
    transition: transform 0.1s ease, box-shadow 0.2s;
    display: inline-block;
}

.btn-primary {
    background-color: #4f46e5;
    color: white;
    border: 1px solid #4f46e5;
    box-shadow: 0 4px 6px rgba(79, 70, 229, 0.2);
}

.btn-primary:hover {
    color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgb(88, 88, 88);
    border: 1px solid #4f46e5;
    box-shadow: 0 4px 6px rgba(79, 70, 229, 0.2);
}

.btn-secondary {
    background-color: #ffffff;
    color: #4f46e5;
    border: 1px solid #4f46e5;
    box-shadow: 0 4px 6px rgba(79, 70, 229, 0.2);
}

.btn-secondary:hover {
    transform: translateY(-2px);
}

a :hover {
    color: white;
}
a {
    font-size: 1.3rem !important;
}
